body {
  position: relative;
  background-image: url('cs_background.jpg');
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 100vh;
  background-position-y: center;
}

