
.o-body-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: calc(100vh - 120px);
  margin: 30px 0;
  position: relative;
}

.logo__container {
  text-align: center;
  flex-grow: 1;

  img {
    height: 50px;
  }
}

.content__container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-family: 'Days One', sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .content__img {
    position: absolute;
    bottom: 10px;
    right: 48%;

    @media only screen and (max-width:768px) {
      right: 45%;
    }

    img {
      width: 39px;
    }

    &:hover {
      img {
        opacity: 0.7;
      }
    }
  }
}

